.wheel {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel__image {
  filter: drop-shadow(10px 10px 120px #fdcc58);
}

.wheel__button {
  position: absolute;
  padding: 0;
  width: 112px;
  height: 112px;
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
}

